@use '@angular/material' as mat;

@include mat.core();

$irish-primary: mat.define-palette(mat.$green-palette, 500);
$irish-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$irish-theme: mat.define-light-theme((
 color: (
   primary: $irish-primary,
   accent: $irish-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($irish-theme);
@include mat.all-component-typographies();
@include mat.legacy-core();